WEPROXY_HOST=gw.weproxy.com.tr
WEPROXY_PORT=8989
WEPROXY_USER=USER-package-residential
WEPROXY_PASS=PASSWORD
# Optional full URL override:
# WEPROXY_URL=http://USER:PASSWORD@gw.weproxy.com.tr:8989
WEPROXY_ECHO_URL=https://api.ipify.org
